
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// font-awesome
@import "node_modules/font-awesome/scss/font-awesome";
// Bulma
@import "node_modules/bulma/bulma.sass";

// Bulma Vue modules
@import "node_modules/buefy/src/scss/buefy.scss";

//custom scss pages
@import "overrides";
@import "helpers";
@import "manage";
@import "styles";
.navbar-laravel {
  background-color: $body-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
html {
  background-color: $body-background;
}
